<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<!-- Declinazioni cromatiche
<link rel="stylesheet" type="text/css" href="css/ocra.css" />
<link rel="stylesheet" type="text/css" href="css/viola.css" />
<link rel="stylesheet" type="text/css" href="css/azzurro.css" />
<link rel="stylesheet" type="text/css" href="css/grigio.css" />
-->

<title>Area loghi partners</title>
</head>

<body>
	<div class="content_separator">&nbsp;</div>

	<div id="area_partners">
		<div class="dicitura_area_partners">in collaborazione</div>
		<div class="area_loghi">
			<div>
				<a href="#"><img src="images/Logo_FSE.jpeg" alt="Fondo Sociale Europeo"/></a>
			</div>
			<div>
				<a href="#"><img src="images/Logo_ProgItaliaSvizzera.jpeg" alt="Programma Italia Svizzera"/></a>
			</div>
			<div>
				<a href="#"><img src="images/Logo_FSE_SvilRegionale.jpeg" alt="Fondo Sociale Europeo Sviluppo Regionale"/></a>
			</div>
			<div class="bordato">
				<a href="#"><img src="images/Logo_ProgSpazioAlpino.jpeg" alt="Programma Spazio Alpino"/></a>
			</div>
			<div>
				<a href="#"><img src="images/Logo_bandiera_europa.jpeg" alt="Unione Europea"/></a>
			</div>
		</div>
	</div>

</body>
</html>
