<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<title>Footer</title>
</head>

<body>
  <div id="footer">
    <div class="titolo_e_copyright">
      <span class="titolo">sintel </span>
      <span class="nome_gamma_servizi">e-procurement </span>
      <span class="copyright">&copy; Copyright Regione Lombardia - tutti i diritti riservati</span>
    </div>
    <ul class="voci_navigazione">
      <li><a href="#">Voce 03</a></li>
      <li><a href="#">Voce 02</a></li>
      <li class="last"><a href="#">Voce 01</a></li>
    </ul>
  </div>
</body>

</html>
