<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/Javascript" src="js/menu_verticale.js"></script>
<script type="text/Javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/Javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/lombardia-theme/jquery-ui-1.10.3.custom.min.css" />  

<link rel="stylesheet" type="text/css" href="css/style_lombardia.css"/>
<!--<link rel="stylesheet" type="text/css" href="css/layout_240_left.css" />-->

<!-- Declinazioni cromatiche
<link rel="stylesheet" type="text/css" href="css/ocra.css" />
<link rel="stylesheet" type="text/css" href="css/azzurro.css" />
<link rel="stylesheet" type="text/css" href="css/viola.css" />
<link rel="stylesheet" type="text/css" href="css/grigio.css" />
-->
  <script>

  $(function() {
    $( "#accordion" )
      .accordion({ header: "> div > h3", heightStyle: "content", collapsible: true, active: "0" })
      .sortable({ axis: "y", handle: "h3", stop: function( event, ui ) {
          ui.item.children( "h3" ).triggerHandler( "focusout" );
        }
      });
  });
  </script>


<title>Form doppio su due colonne</title>
</head>
<body>
<a href="#titolo_pagina" class="non_visibile">salta al contenuto</a>
<div id="barra_istituzionale">
   <div class="spalla_sx">
      <a href="http://www.regione.lombardia.it">
         <img class="logo" src="images/tagli_html/top_logoregione.gif" alt="Regione Lombardia"/>
      </a>

      <div class="fascia_sup"></div>
      <div class="fascia_inf"></div>
   </div>
   <div class="spalla_dx">
      <div class="fascia_sup"></div>
      <div class="fascia_inf"></div>
   </div>
   <div class="fascia_sup">
      <ul class="voci_navigazione">

         <li><a href="http://www.tributi.regione.lombardia.it" title="PORTALE DEI TRIBUTI">PORTALE DEI TRIBUTI</a></li>
         <li class="last"><a href="/calcolabollo/logoff.jsp" title="Chiudi l'applicazione">LOGOFF</a></li>
      </ul>
   </div>
   <div class="fascia_inf">
      <div class="sormontante_titolo"></div>
      <div class="area_titolo">
         <div class="spalla_sx"></div>

         <div class="spalla_dx"></div>
         
         <div class="titolo">TRIBUTI </div>
         <div class="nome_gamma_servizi">calcolabollo</div>
      </div>
   </div>
</div>

<div class="content_separator">&nbsp;</div>

   <div id="area_utente">      
      <span class="dati_utente">
         <span class="ico_utente"></span>
         Utente:  Mario Rossi
      </span>
   </div>
   
	<ul id="menu_orizzontale">
		<li>
			<a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo preventivo"/>Nuovo preventivo</a>
		</li>
		<li>
			<a href="#"><img src="images/icone/18/ico_salvaPdf_18.gif" alt="tariffario in formato pdf"/>Tariffario</a>
		</li>
	</ul>

<div id="layout">
    <div id="colonna_menu_sx">

<div id="menu_verticale">
<ul id="ul_menu_verticale">
   <li class="on"><div class="pannello"><span class="aperto"></span><span>Menu</span></div>
      <ul>
         <li><div class="menu"><span class="aperto"></span><span>Menu liv1</span></div>
            <ul>
               <li><a href="#">Voce liv2</a></li>
               <li><div class="menu"><span class="aperto"></span><span>Menu liv2</span></div>
                  <ul>
                     <li><a href="#">Voce liv3</a></li>
                     <li><a href="#">Voce liv3</a></li>
                     <li><a href="#">Voce liv3</a></li>
                  </ul>
               </li>
               <li><a href="#">Voce liv2</a></li>
               <li><a href="#">Voce liv2</a></li>
            </ul>
         </li>
         <li><div class="filetto"></div></li>
         <li><div class="menu"><span class="aperto"></span><span>Menu liv1</span></div>
            <ul>
               <li><a href="#">Voce liv2</a></li>
               <li><div class="menu"><span class="aperto"></span><span>Menu liv2</span></div>
                  <ul>
                     <li><a href="#">Voce liv3 lunga lunga lunga lunga lunga lunga lunga lunga</a></li>
                     <li><a href="#">Voce liv3</a></li>
                     <li><a href="#">Voce liv3</a></li>
                  </ul>
               </li>
               <li><a href="#">Voce liv2</a></li>
               <li><a href="#">Voce liv2</a></li>
            </ul>
         </li>
         <li><div class="filetto"></div></li>
         <li><div class="menu"><span class="aperto"></span><span>Menu liv1</span></div>
            <ul>
               <li><a href="#">Voce liv2</a></li>
               <li><div class="menu"><span class="aperto"></span><span>Menu liv2</span></div>
                  <ul>
                     <li><a href="#">Voce liv3</a></li>
                     <li><a href="#">Voce liv3</a></li>
                     <li><a href="#">Voce liv3</a></li>
                  </ul>
               </li>
               <li><a href="#">Voce liv2</a></li>
               <li><a href="#">Voce liv2</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>
   </div>
</div>

	<div id="area_contenuti">

	<div id="titolo_pagina">
		Calcola il bollo auto
   	</div>
   
<!-- Div sinistra -->
<div class="colonna_sx">
<div class="box">
<form id="calcolaBolloTramiteTargaForm" action="#" method="get">

  <div class="titolo">
    <strong>CALCOLO TRAMITE LA TARGA DEL VEICOLO</strong>
  </div>
	<hr/>

	<div class="riga_35">
		<div class="col_50">
			<div class="campo">
				<label for="tipoVeicolo">TIPO VEICOLO</label>
			</div>
		</div>
		<div class="col_50">
			<div class="campo">
				<select id="tipoVeicolo" name="tipoVeicolo" size="1">
					<option value="A">Autoveicolo</option>
					<option value="M">Motoveicolo</option>
					<option value="R">Rimorchio</option>
					<option value="C">Ciclomotore</option>
					<option value="Q">Quadriciclo leggero</option>
				</select>
				<input id="tipoVeicoloValue" value="AUTOVEICOLO" type="hidden"/>
			</div>
		</div>
	</div>

	<div class="riga_35">
		<div class="col_50">
			<label for="targa">TARGA</label>
		</div>
		<div class="col_50">
			<div class="campo">
				<input id="targa" name="targa" value="" size="20" type="text"/>
				<label class="normal_error"></label>
			</div>
		</div>
	</div>

	<div class="riga_35">
		<div class="col_50">
			<div class="campo">
				<label for="selectMassaComplessiva">MASSA COMPLESSIVA</label>
			</div>
		</div>
		<div class="col_50">
			<div class="col_33">
				<div class="campo">
					<select id="selectMassaComplessiva" name="massaComplessiva" disabled="disabled" size="1">
						<option value="S">Sì</option>
						<option value="N">No</option>
					</select>
				</div>
			</div>
			<div class="col_66">
				<div class="campo">
					SI = massa &lt; 3,5 t<br/>
					NO = massa &gt; 3,5 t
				</div>
			</div>
		</div>
	</div>
	
	<div class="riga_35">
		<div class="col_50">
			<div class="campo">
				<label for="targaProva">TARGA PROVA</label>
			</div>
		</div>
		<div class="col_50">
			<div class="campo">
				<select id="targaProva" name="targaProva" size="1">
					<option value="N">No</option>
					<option value="S">Sì</option>
					<option value="X">Prima emissione</option>
				</select>
			</div>
		</div>
	</div>

	<div class="riga_35">
		<div class="col_50">
			<label for="potenza">POTENZA in KW senza decimali</label>
		</div>
		<div class="col_50">
			<div class="campo">
				<input id="potenza" name="potenza" disabled="disabled" value="" size="20" type="text"/>
				<label class="normal_error"></label>
			</div>
		</div>
	</div>
	
	<div class="riga_35">
		<div class="col_50">
			<div class="campo">
				<label for="alimentazione">ALIMENTAZIONE</label>
			</div>
		</div>
		<div class="col_50">
			<div class="campo">
				<select id="alimentazione" name="alimentazione" disabled="disabled" size="1">
					<option value="B">Benzina</option>
					<option value="G">Gasolio</option>
				</select>
			</div>
		</div>
	</div>

	<div class="riga">
		<div class="area_rispetto">
			<input class="pulsante" value="ESEGUI" name="calcolaTramiteTarga" type="submit"/>
		</div>
	</div>

</form>

</div>
</div>
<!-- fine div sinistra -->

<!-- div colonna destra -->
<div class="colonna_dx">
<div class="box">
  <div class="titolo">
    <strong>CALCOLO TRAMITE I DATI TECNICI DEL VEICOLO</strong>
  </div>
	<hr/>

<div id="accordion">
  <div class="group">
    <h3>Utilitas fiducia</h3>
    <div>
      <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
    </div>
  </div>
  <div class="group">
    <h3>Ricerca Enti</h3>
    <div>
    <!--div id="ricerca"-->
         <form action="#" method="get">
       <div class="riga">
          <div class="campo">
             <label for="trova" class="verticale">Trova</label>
             <input id="trova" name="trova" size="14" maxlength="50" type="text"/>
          </div>
          <div class="campo">
             <label for="in_per" class="verticale">In / per</label>
             <select id="in_per" name="in_per">
                <option value="buyer.buyers.search.byname">Nome Acquirente</option>
             </select>
          </div>
          <div class="campo">
             <label for="tipo" class="verticale">Tipo</label>
             <select id="tipo" name="tipo">
                <option value="-1">Tutti</option>
                <option value="sanitario">sanitario</option>
                <option value="regionale">regionale</option>
                <option value="locale">locale</option>
                <option value="altre amministrazioni">altre amministrazioni</option>
             </select>
          </div>
         <div class="area_rispetto">
           <input name="invio" value="cerca" class="pulsante" type="submit"/>
         </div>
       </div>
         </form>
    <!--/div-->
    </div>
  </div>
  <div class="group">
    <h3>Neglegenter corrumperet</h3>
    <div>
      <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
      <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
    </div>
  </div>
  <div class="group">
    <h3>Perspicax umbraculi</h3>
    <div>
      <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    </div>
  </div>
</div>


</div>
<div class="area_testo">
<strong>INFORMAZIONI</strong>
<hr/>

<div>
Il servizio di calcolo e pagamento della tassa automobilistica recepisce le modifiche introdotte dalla Legge Finanziaria 2007 in materia di Tassa Automobilistica di Proprietà.<br/>
Il servizio è attivo nelle seguenti fasce orarie: <br/> 
- Giorni feriali 6.00 - 22.00 <br/>
- Sabato 6.00 - 24.00 <br/>
- Giorni festivi 0.00 - 24.00 <br/>
Per la segnalazione di problemi tecnici è disponibile il servizio 
CONTATTACI.
</div>

</div>

</div>
<!-- fine div colonna destra -->
<div class="content_closer"></div>

</div>
</div>

<div id="footer">
	<div class="titolo_e_copyright">
	   <span class="titolo">portale dei tributi </span>
	   <span class="nome_gamma_servizi">calcolabollo </span>
	   <span class="copyright">© Copyright Regione Lombardia - tutti i diritti riservati</span>
	</div>
</div>

</body>
</html>