<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<!-- Declinazioni cromatiche
<link rel="stylesheet" type="text/css" href="css/ocra.css" />
<link rel="stylesheet" type="text/css" href="css/viola.css" />
<link rel="stylesheet" type="text/css" href="css/azzurro.css" />
<link rel="stylesheet" type="text/css" href="css/grigio.css" />
-->

<title>Menu orizzontale</title>
</head>

<body>
	<div class="content_separator">&nbsp;</div>

   <ul id="menu_orizzontale">
      <li>
         <a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/>Catelli aegre</a>
      </li>
      <li>
         <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambia identità"/>Pretosius</a>
      </li>
      <li>
         <a href="#"><img src="images/icone/18/ico_salva_18.gif" alt="salva"/>Etiam octavius</a>
      </li>
      <li>
         <a href="#"><img src="images/icone/18/ico_email_18.gif" alt="email"/>Chirographi</a>
      </li>
      <li>
         <a href="#"><img src="images/icone/18/ico_archivia_18.gif" alt="archivia"/>Octavius insectat</a>
      </li>
	</ul>

</body>
</html>
