<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<title>Popup</title>

</head>

<body>
<form action="#" method="get">
	<div class="campo">
		<label for="categoria" class="verticale">Categoria</label>
		<input id="categoria" name="categoria" size="25" maxlength="25" type="text"/>
		<a href="popup_ricerca.html" class="ricerca" onclick="window.open(this.href, 'popupwindow', ' width=680, height=550, location=no, menubar=no, scrollbars=no,status=no, toolbar=no,fullscreen=no, dependent=no'); return false;">
		<img src="images/icone/18/ico_ricerca_18.gif" alt="cerca" title="Clicca qui per effettuare una ricerca."/>
		</a>
	</div>
</form>

</body>
</html>
