<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<!-- Declinazioni cromatiche
<link rel="stylesheet" type="text/css" href="css/ocra.css" />
<link rel="stylesheet" type="text/css" href="css/viola.css" />
<link rel="stylesheet" type="text/css" href="css/azzurro.css" />
<link rel="stylesheet" type="text/css" href="css/grigio.css" />
-->

<title>Pulsanti</title>
</head>
<body>

<div class="content_separator">&nbsp;</div>

<form action="#" method="get">
  <div>
	<label for="nome_dato" >Dato:</label>
	<input id="nome_dato" name="nome_dato" size="14" maxlength="50" type="text"/>
  </div>

	<div class="area_rispetto">
	<!-- Pulsanti che inviano dati all'applicazione -->
		<input name="cancel" value="annulla" class="pulsante" type="submit"/>
		<input name="enter"  value="conferma" class="pulsante" type="submit"/>
	</div>

</form>

</body>
</html>
