<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<!-- Declinazioni cromatiche
<link rel="stylesheet" type="text/css" href="css/ocra.css" />
<link rel="stylesheet" type="text/css" href="css/viola.css" />
<link rel="stylesheet" type="text/css" href="css/azzurro.css" />
<link rel="stylesheet" type="text/css" href="css/grigio.css" />
-->

<title>Ricerca semplice</title>
</head>

<body>
<!--
	<div class="area_contenuti">
-->
		<div id="ricerca">
		   <div class="titolo">
      		Ricerca Enti
		   </div>
         <form action="#" method="get">
		   <div class="riga">
		      <div class="campo">
      		   <label for="trova" class="verticale">Trova</label>
		         <input id="trova" name="trova" size="14" maxlength="50" type="text"/>
		      </div>
		      <div class="campo">
      		   <label for="in_per" class="verticale">In / per</label>
		         <select id="in_per" name="in_per">
      		      <option value="buyer.buyers.search.byname">Nome Acquirente</option>
		         </select>
		      </div>
		      <div class="campo">
      		   <label for="tipo" class="verticale">Tipo</label>
		         <select id="tipo" name="tipo">
      		      <option value="-1">Tutti/e</option>
		            <option value="sanitario">sanitario</option>
		            <option value="regionale">regionale</option>
		            <option value="locale">locale</option>
		            <option value="altre amministrazioni">altre amministrazioni</option>
		         </select>
		      </div>
			   <div class="area_rispetto">
				   <input name="invio" value="cerca" class="pulsante" type="submit"/>
			   </div>
		   </div>
         </form>
		</div>
<!--
	</div>
-->

</body>
</html>
