<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<!-- Declinazioni cromatiche
<link rel="stylesheet" type="text/css" href="css/ocra.css" />
<link rel="stylesheet" type="text/css" href="css/viola.css" />
<link rel="stylesheet" type="text/css" href="css/azzurro.css" />
<link rel="stylesheet" type="text/css" href="css/grigio.css" />
-->

<title>Ricerca multirighe</title>
</head>

<body>
	<div id="area_contenuti">
		<div id="ricerca">
		   <div class="titolo">
      		Ricerca Enti
		   </div>
         <form action="#" method="get">
		   <div class="riga">
				<div class="col_25">
			      <div class="campo">
   	   		   <label for="nome" class="verticale">Nome</label>
			         <input id="nome" name="nome" size="25" maxlength="50" type="text"/>
		   	   </div>
				</div>
				<div class="col_25">
			      <div class="campo">
   	   		   <label for="descrizione" class="verticale">Descrizione</label>
			         <input id="descrizione" name="descrizione" size="25" maxlength="50" type="text"/>
		   	   </div>
				</div>
		   </div>
		   <div class="riga">
				<div class="col_25">
			      <div class="campo">
      		   <label for="id" class="verticale">Id </label>
			         <input id="id" name="id" size="25" maxlength="50" type="text"/>
		   	   </div>
		      </div>
				<div class="col_25">
			      <div class="campo">
   	   		   <label for="id_multilotto" class="verticale">Id della multilotto</label>
			         <input id="id_multilotto" name="id_multilotto" size="25" maxlength="50" type="text"/>
		   	   </div>
		      </div>
				<div class="col_25">
			      <div class="campo">
   	   		   <label for="responsabile" class="verticale">Responsabile</label>
			         <input id="responsabile" name="responsabile" size="25" maxlength="50" type="text"/>
		   	   </div>
		      </div>
		   </div>
		   <div class="riga">
				<div class="col_25">
			      <div class="campo">
   	   		   <label for="data_inizio_al" class="verticale">Data inizio - Al giorno/ora</label>
             <label class="info_message">(Formato: gg/mm/aaaa hh:mm:ss)</label>
			       <input id="data_inizio_al" name="data_inizio_al" size="20" maxlength="20" type="text"/>
		      	</div>
		      </div>
				<div class="col_25">
			      <div class="campo">
   	   		   <label for="data_inizio_dal" class="verticale">Data inizio - Dal giorno/ora</label>
             <label class="info_message">(Formato: gg/mm/aaaa hh:mm:ss)</label>
		         <input id="data_inizio_dal" name="data_inizio_dal" size="20" maxlength="20" type="text"/>
			      </div>
		      </div>
				<div class="col_25">
			      <div class="campo">
      			  <label for="data_fine_al" class="verticale">Data fine - Dal giorno/ora</label>
              <label class="info_message">(Formato: gg/mm/aaaa hh:mm:ss)</label>
		   	      <input id="data_fine_al" name="data_fine_al" size="20" maxlength="20" type="text"/>
			      </div>
		      </div>
				<div class="col_25">
			      <div class="campo">
      			  <label for="data_fine_dal" class="verticale">Data fine - Al giorno/ora</label>
              <label class="info_message">(Formato: gg/mm/aaaa hh:mm:ss)</label>
		   	      <input id="data_fine_dal" name="data_fine_dal" size="20" maxlength="20" type="text"/>
			      </div>
		      </div>
		   </div>
		   <div class="riga">
            <div class="area_rispetto">
               <input name="invio" value="conferma" class="pulsante" type="submit"/>
            </div>
		   </div>
			</form>
		</div>
	</div>

</body>
</html>
