<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<!-- Declinazioni cromatiche
<link rel="stylesheet" type="text/css" href="css/ocra.css" />
<link rel="stylesheet" type="text/css" href="css/viola.css" />
<link rel="stylesheet" type="text/css" href="css/azzurro.css" />
<link rel="stylesheet" type="text/css" href="css/grigio.css" />
-->

<title>Tabella ridotta</title>
</head>

<body>
<table class="tabella_ridotta">
   <tr>
      <th class="centrato">Scelta</th>
      <th>Partita IVA</th>
      <th>Tipologia Ente</th>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_01" type="checkbox"/><label class="non_visibile" for="scelta_01">scelta</label></td>      <td>82844557859</td>
      <td>sanitario</td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_02" type="checkbox"/><label class="non_visibile" for="scelta_02">scelta</label></td>      <td>82844557858</td>
      <td>Abilitato</td>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_03" type="checkbox"/><label class="non_visibile" for="scelta_03">scelta</label></td>      <td>82844557859</td>
      <td>sanitario</td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_04" type="checkbox"/><label class="non_visibile" for="scelta_04">scelta</label></td>      <td>82844557858</td>
      <td>Abilitato</td>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_05" type="checkbox"/><label class="non_visibile" for="scelta_05">scelta</label></td>      <td>82844557859</td>
      <td>sanitario</td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_06" type="checkbox"/><label class="non_visibile" for="scelta_06">scelta</label></td>      <td>82844557858</td>
      <td>Abilitato</td>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_07" type="checkbox"/><label class="non_visibile" for="scelta_07">scelta</label></td>      <td>82844557859</td>
      <td>sanitario</td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_08" type="checkbox"/><label class="non_visibile" for="scelta_08">scelta</label></td>      <td>82844557858</td>
      <td>Abilitato</td>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_09" type="checkbox"/><label class="non_visibile" for="scelta_09">scelta</label></td>      <td>82844557859</td>
      <td>sanitario</td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_10" type="checkbox"/><label class="non_visibile" for="scelta_10">scelta</label></td>
      <td>82844557858</td>
      <td>Abilitato</td>
   </tr>
	<tr class="pager">
	<td colspan="3">
   <ul class="pager">
       <li class="inizio"><a href="#">&lt;&lt;</a></li>
		 <li class="indietro"><a href="#">&lt;</a></li>
		 <li><a href="#">1</a></li>
		 <li><a href="#">2</a></li>
		 <li><a href="#">3</a></li>
		 <li><a href="#">4</a></li>
		 <li><a href="#">5</a></li>
		 <li><a href="#">6</a></li>
		 <li><a href="#">7</a></li>
		 <li><a href="#">8</a></li>
		 <li class="avanti"><a href="#">&gt;</a></li>
		 <li class="fine"><a href="#">&gt;&gt;</a></li>
   </ul>
	</td>
	</tr>
</table>


</body>
</html>
