<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="it-IT" xml:lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/Javascript" src="js/menu_verticale.js"></script>

<link rel="stylesheet" type="text/css" href="css/style_lombardia.css" />

<link rel="stylesheet" type="text/css" href="css/ocra.css" />
<!-- Declinazioni cromatiche
<link rel="stylesheet" type="text/css" href="css/azzurro.css" />
<link rel="stylesheet" type="text/css" href="css/viola.css" />
<link rel="stylesheet" type="text/css" href="css/grigio.css" />
-->

<link rel="stylesheet" type="text/css" href="css/sintel.css" />

<title>mve_ric_tbb_tbl</title>
</head>

<body>
<a href="#titolo_pagina" class="non_visibile">salta al contenuto</a>
<div id="barra_istituzionale">
   <div class="spalla_sx">
      <a href="http://www.regione.lombardia.it">
         <img class="logo" src="images/tagli_html/top_logoregione.gif" alt="Regione Lombardia"/>
      </a>
      <div class="fascia_sup"></div>
      <div class="fascia_inf"></div>
   </div>
   <div class="spalla_dx">
      <div class="fascia_sup"></div>
      <div class="fascia_inf"></div>
   </div>
   <div class="fascia_sup">
      <ul class="voci_navigazione">
         <li><a href="#">CENTRALE REGIONALE ACQUISTI</a></li>
         <li><a href="#">LOGOFF</a></li>
         <li><a href="#">GUIDA</a></li>
         <li class="last"><a href="#">PORTALE</a></li>
      </ul>
   </div>
   <div class="fascia_inf">
      <div class="sormontante_titolo"></div>
      <div class="area_titolo">
         <div class="spalla_sx"></div>
         <div class="spalla_dx"></div>
         <span class="numero_verde">Numero verde 800.116.738</span>
         <div class="titolo">sintel </div>
         <div class="nome_gamma_servizi">e-procurement </div>
      </div>
   </div>
</div>
<h2 class="sottotitolo_applicativo">Sistema Intermediazione Telematica</h2>
<div class="content_separator">&nbsp;</div>

		<ul class="tabber_alto">
		  <li class="tab"><a href="#">Utenti</a></li>
		  <li class="tab_separator"></li>
		  <li class="tab" id="active"><a href="#">Enti</a></li>
		  <li class="tab_separator"></li>
		  <li class="tab"><a href="#">Fornitori</a></li>
		  <li class="tab_separator"></li>
		  <li class="tab"><a href="#">Categorie Merceologiche</a></li>
		  <li class="tab_separator"></li>
		  <li class="tab"><a href="#">Procedure</a></li>
		  <li class="tab_separator"></li>
		</ul>

<div id="area_utente">
  <span class="dati_utente">
		<span class="ico_utente"></span>
		Utente: Mario Rossi
  </span>
	<ul class="links">
		<li class="first">
			<a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="modifica profilo"/>Modifica profilo</a>
		</li>
		<li>
			<a href="#"><img src="images/icone/18/ico_comunicazioniElettroniche_18.gif" alt="comunicazioni"/>Comunicazioni</a>
		</li>
	</ul>
</div>


<div id="layout_190_left">
  <div id="colonna_sx">

  <div id="menu_verticale">
  <ul id="ul_menu_verticale">
	 <li><div class="pannello"><span class="aperto"></span><span>Menu</span></div>
		  <ul>
			 <li><div class="menu"><span class="aperto"></span><span>Menu liv1</span></div>
				  <ul>
					 <li><a href="#">Voce liv2</a></li>
					 <li><div class="menu"><span class="aperto"></span><span>Menu liv2</span></div>
						  <ul>
							 <li><a href="#">Voce liv3</a></li>
							 <li><a href="#">Voce liv3</a></li>
							 <li><a href="#">Voce liv3</a></li>
						  </ul>
					 </li>
					 <li><a href="#">Voce liv2</a></li>
					 <li><a href="#">Voce liv2</a></li>
				  </ul>
			 </li>
			 <li><div class="filetto"></div></li>
			 <li><div class="menu"><span class="aperto"></span><span>Menu liv1</span></div>
				  <ul>
					 <li><a href="#">Voce liv2</a></li>
					 <li><div class="menu"><span class="aperto"></span><span>Menu liv2</span></div>
						  <ul>
							 <li class="on"><a href="#">Voce liv3 lunga lunga lunga lunga lunga lunga lunga lunga</a></li>
							 <li><a href="#">Voce liv3</a></li>
							 <li><a href="#">Voce liv3</a></li>
						  </ul>
					 </li>
					 <li><a href="#">Voce liv2</a></li>
					 <li><a href="#">Voce liv2</a></li>
				  </ul>
			 </li>
			 <li><div class="filetto"></div></li>
			 <li><div class="menu"><span class="aperto"></span><span>Menu liv1</span></div>
				  <ul>
					 <li><a href="#">Voce liv2</a></li>
					 <li><div class="menu"><span class="aperto"></span><span>Menu liv2</span></div>
						  <ul>
							 <li><a href="#">Voce liv3</a></li>
							 <li><a href="#">Voce liv3</a></li>
							 <li><a href="#">Voce liv3</a></li>
						  </ul>
					 </li>
					 <li><a href="#">Voce liv2</a></li>
					 <li><a href="#">Voce liv2</a></li>
				  </ul>
			 </li>
		  </ul>
	 </li>
  </ul>
	 </div>
  </div>

	 <div id="area_contenuti">
		<div id="titolo_pagina">
			 <ul class="tool_utility">
				<li>
				  <a href="#"><img src="images/icone/18/ico_ridimensionaCarattere_18.gif" alt="ingrandisci carattere"/></a>
				</li>
				<li>
				  <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="rimpicciolisci carattere"/></a>
				</li>
				<li>
				  <a href="#"><img src="images/icone/18/ico_stampaDoc_18.gif" alt="stampa"/></a>
				</li>
				<li>
				  <a href="#"><img src="images/icone/18/ico_massimizza_18.gif" alt="visualizza a schermo intero"/></a>
				</li>
				<li>
				  <a href="#"><img src="images/icone/18/ico_ricercaAvanzata_18.gif" alt="ricerca avanzata"/></a>
				</li>
			 </ul>
			 Titolo pagina
		</div>

		<div class="area_testo"> 
<table>
   <tr>
      <th class="centrato">Scelta</th>
      <th>Partita IVA</th>
      <th>Tipologia Ente</th>
      <th>Importo</th>
      <th>Nome Utente <a href="#"><img src="images/tagli_html/menu_freccia_on.gif" alt="cambia ordinamento"/></a></th>
      <th>Indirizzo Email</th>
      <th class="centrato">Allegato</th>
      <th>Azioni</th>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_01" type="checkbox"/><label class="non_visibile" for="scelta_01">scelta</label></td>
      <td>82844557859</td>
      <td>sanitario</td>
      <td class="numero">123,00</td>
      <td>ENTE369792SINTEL</td>
      <td><a href="#">nome.cognome@indirizzo.it</a></td>
      <td class="centrato"><a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/></a></td>
      <td>
      <span>
            <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambio identità"/>Crea indirizzi</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="crea"/>Crea impiegati</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_sottoassegnazione_18.gif" alt="assegna"/>Gestione categorie</a>
         </span>
    </td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_02" type="checkbox"/><label class="non_visibile" for="scelta_02">scelta</label></td>
      <td>82844557858</td>
      <td>Abilitato</td>
      <td class="numero">72,50</td>
      <td>asl vigevanese</td>
      <td><a href="#">nome.cognome@indirizzo.it</a></td>
      <td class="centrato"><a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/></a></td>
    <td>
      <span>
            <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambio identità"/>Crea indirizzi</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="crea"/>Crea impiegati</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_sottoassegnazione_18.gif" alt="assegna"/>Gestione categorie</a>
         </span>
    </td>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_03" type="checkbox"/><label class="non_visibile" for="scelta_03">scelta</label></td>
      <td>82844557859</td>
      <td>sanitario</td>
      <td class="numero">123,00</td>
      <td>ENTE369792SINTEL</td>
      <td><a href="#">nome.cognome@indirizzo.it</a></td>
      <td class="centrato"><a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/></a></td>
      <td>
      <span>
            <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambio identità"/>Crea indirizzi</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="crea"/>Crea impiegati</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_sottoassegnazione_18.gif" alt="assegna"/>Gestione categorie</a>
         </span>
    </td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_04" type="checkbox"/><label class="non_visibile" for="scelta_04">scelta</label></td>
      <td>82844557858</td>
      <td>Abilitato</td>
      <td class="numero">72,50</td>
      <td>asl vigevanese</td>
      <td><a href="#">nome.cognome@indirizzo.it</a></td>
      <td class="centrato"><a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/></a></td>
    <td>
      <span>
            <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambio identità"/>Crea indirizzi</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="crea"/>Crea impiegati</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_sottoassegnazione_18.gif" alt="assegna"/>Gestione categorie</a>
         </span>
    </td>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_05" type="checkbox"/><label class="non_visibile" for="scelta_05">scelta</label></td>
      <td>82844557859</td>
      <td>sanitario</td>
      <td class="numero">123,00</td>
      <td>ENTE369792SINTEL</td>
      <td><a href="#">nome.cognome@indirizzo.it</a></td>
      <td class="centrato"><a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/></a></td>
      <td>
      <span>
            <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambio identità"/>Crea indirizzi</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="crea"/>Crea impiegati</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_sottoassegnazione_18.gif" alt="assegna"/>Gestione categorie</a>
         </span>
    </td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_06" type="checkbox"/><label class="non_visibile" for="scelta_06">scelta</label></td>
      <td>82844557858</td>
      <td>Abilitato</td>
      <td class="numero">72,50</td>
      <td>asl vigevanese</td>
      <td><a href="#">nome.cognome@indirizzo.it</a></td>
      <td class="centrato"><a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/></a></td>
    <td>
      <span>
            <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambio identità"/>Crea indirizzi</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="crea"/>Crea impiegati</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_sottoassegnazione_18.gif" alt="assegna"/>Gestione categorie</a>
         </span>
    </td>
   </tr>
   <tr>
      <td class="centrato"><input id="scelta_07" type="checkbox"/><label class="non_visibile" for="scelta_07">scelta</label></td>
      <td>82844557859</td>
      <td>sanitario</td>
      <td class="numero">123,00</td>
      <td>ENTE369792SINTEL</td>
      <td><a href="#">nome.cognome@indirizzo.it</a></td>
      <td class="centrato"><a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/></a></td>
      <td>
      <span>
            <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambio identità"/>Crea indirizzi</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="crea"/>Crea impiegati</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_sottoassegnazione_18.gif" alt="assegna"/>Gestione categorie</a>
         </span>
    </td>
   </tr>
   <tr class="riga_alternata">
      <td class="centrato"><input id="scelta_08" type="checkbox"/><label class="non_visibile" for="scelta_08">scelta</label></td>
      <td>82844557858</td>
      <td>Abilitato</td>
      <td class="numero">72,50</td>
      <td>asl vigevanese</td>
      <td><a href="#">nome.cognome@indirizzo.it</a></td>
      <td class="centrato"><a href="#"><img src="images/icone/18/ico_nuovo_18.gif" alt="nuovo"/></a></td>
    <td>
      <span>
            <a href="#"><img src="images/icone/18/ico_cambioIdentita_18.gif" alt="cambio identità"/>Crea indirizzi</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_utente_18.gif" alt="crea"/>Crea impiegati</a>
         </span>
      <span>
            <a href="#"><img src="images/icone/18/ico_sottoassegnazione_18.gif" alt="assegna"/>Gestione categorie</a>
         </span>
    </td>
   </tr>
</table>

			<div class="toolbar_tabella">
				<ul class="tool_utility">
					<li>
						<a href="#"><img src="images/icone/18/ico_salvaExcel_18.gif" alt="salva in formato excel"/>Salva xls</a>
					</li>
					<li>
						<a href="#"><img src="images/icone/18/ico_salvaPdf_18.gif" alt="salva in formato pdf"/>Salva pdf</a>
					</li>
					<li>
						<a href="#"><img src="images/icone/18/ico_salvaCsv_18.gif" alt="salva in formato csv"/>Salva csv</a>
					</li>
					<li>
						<a href="#"><img src="images/icone/18/ico_stampaDoc_18.gif" alt="stampa"/>Stampa</a>
					</li>
				</ul>
				<ul class="pager">
					<li class="inizio"><a href="#">&lt;&lt;</a></li>
					<li class="indietro"><a href="#">&lt;</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li class="avanti"><a href="#">&gt;</a></li>
					<li class="fine"><a href="#">&gt;&gt;</a></li>
				</ul>
			</div>
		</div>
	 <div class="content_closer">&nbsp;</div>
  </div>
</div>

<div id="footer">
   <div class="titolo_e_copyright">
      <span class="titolo">sintel </span>
      <span class="nome_gamma_servizi">e-procurement </span>
      <span class="copyright">&copy; Copyright Regione Lombardia - tutti i diritti riservati</span>
   </div>
   <ul class="voci_navigazione">
      <li><a href="#">Voce 03</a></li>
      <li><a href="#">Voce 02</a></li>
      <li class="last"><a href="#">Voce 01</a></li>
   </ul>
</div>


</body>
</html>
